.avatar{
    background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 132px;
  max-width: 132px;
  border-radius: 100px;
}

.avatar-img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

